/* Write your CSS here */
.similar-product-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
}
.similar-image {
  height: 250;
  width: 250px;
}
.similar-title {
  color: #12022f;
}
.similar-brand {
  color: #475569;
}
.product-bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rating-btn {
  display: flex;
  border-style: none;
  background-color: #3b82f6;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  align-items: center;
  color: #ffffff;
}
.star-img {
  height: 10px;
  width: 10px;
}
